#payLink {
   font-size: 14px;
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    #payLink {
        display: inline;
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    #payLink {
        display: inline;
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    #payLink {
        display: none;
    }

}

/* Media Query for Large screens */
@media (min-width: 1281px) {
    #payLink {
        display: none;
    }

}

.o_loader {
   text-align: center;
   width: 100%;
   height: 20em;
}